<html>

<head>
    <link href="../public/base.css" rel="stylesheet" type="text/css" />
</head>
<div class="wrapper">
    <div class="title">
        <p>Sign in to Todo App</p>
    </div>
    <form action="/user/signin" method="post">
        <div class="form">
            <div class="input_field">
                <label>email address</label>
                <input type="text" class="input" name="email">
            </div>
            <div class="input_field">
                <label>Password</label>
                <input type="password" class="input" name="password">
            </div>
            <div class="btn">
                <input type="submit" value="Sign in" class="sign_btn">
            </div>
        </div>
        <div class="create_act">
            <p>New to Todo App? <a href="/user/signup">Create an account.</a></p>
        </div>
    </form>
</div>

</html>